@model MyFace.Models.View.PostsViewModel
@{
    Layout = "_Layout";

}

<h1>New Post</h1>
<article class="container">
    <form method="post" action="/posts/create">
        <label for="UserId">ID:</label><br>
        <input type="number" name="UserId" id="UserId1"/><br/>
        <label for="message">Post:</label><br>
        <textarea name = "message" id = "message1"></textarea><br/>
        <label for="imageUrl">Image Url:</label><br/>
        <input type="text" id="imageUrl" name="imageUrl1" placeholder="Image Url..."/><br/>
        <input type="submit" value="Submit">
    </form>

</article>