@using System.Data.Entity
@using MyFace.Models.Database
@using MyFace.Models.Request
@using MyFace.Models.View
@{
    Layout = "_Layout";

    Post CreatePost()
    {
        Post newPost = new Post();
        return newPost();
    }
}

<h1>MyFace New Post</h1>
<article class="container">
    <form>
        <label for="message">Post:</label><br>
        <textarea name = "message" id = "message"></textarea><br/>
        <label for="imageUrl">Image Url:</label><br/>
        <input type="text" id="imageUrl" name="imageUrl" value="Image Url..." /><br/>
        <input type="submit" value="Submit">
    </form>
 
</article>