@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";


}
@{
<article class="all_posts_container">
    <h1>Posts</h1>
    <a href="/posts/create">
                    <button class="create_button" type="button" id = "newPostButton">New Post</button>
                </a>
<article class="modal" id = "writeNewPost">
    <form method="post" action="/posts/create" >
        <label for="UserId">ID:</label><br>
        <input type="number" name="UserId" id="UserId"/><br/>
        <label for="message">Post:</label><br>
        <textarea name = "message" id = "message"></textarea><br/>
        <label for="imageUrl">Image Url:</label><br/>
        <input type="text" id="imageUrl" name="imageUrl" placeholder="Image Url..."/><br/>
        <input type="submit" value="Submit">
    </form>
</article>
</article>
}
<article class = "posts_list">
    @{
        foreach (var post in Model.Posts)
            {
                <li>
                    <div class="post_container">
                        <h2 class="post_title">Posted by @post.PostedBy.DisplayName on @post.PostedAt.Date.ToShortDateString()</h2>
                        <img class="post_image" src=@post.ImageUrl alt="">
                        <p class="text_preview">
                            @post.Message
                        </p>
                        <button href="#">Go to Post</button>
                    </div>
                </li>
            }
            
    }
</article>

