@model MyFace.Models.View.PostsViewModel

@{
    Layout = "_Layout";


}
<h1>MyFace Posts</h1>
<article class="all_posts_container">
    <ol>
        @{
            <a href="/posts/create">
                <button type="button">New Post</button>
            </a>
            foreach (var post in Model.Posts)
            {
                <li>
                    <div class="post_container">
                        <h2 class="post_title">Posted by @post.PostedBy.DisplayName on @post.PostedAt.Date.ToShortDateString()</h2>
                        <img class="post_image" src=@post.ImageUrl alt="">
                        <p class="text_preview">
                            @post.Message
                        </p>
                        <button href="#">Go to Post</button>
                    </div>
                </li>
            }


        }
    </ol>


</article>