@model MyFace.Models.View.UsersViewModel

@{
    Layout = "_Layout";
}
<h1>MyFace Users</h1>
<a href="/users/create">
    <button>Create New User</button>
</a>
<article style="column-count: 3">
    @foreach (var user in Model.Users)
    {
        <h2>
            @user.DisplayName<br/>
            <a href="/users/@user.Id">
                <img src="@user.ProfileImageUrl" alt="Profile Image"/>
            </a>
        </h2>
    }
</article>